

/* Using a CSS variable in your CSS file */
:root {
  --background-url: url('./assets/ERLogo3.jpg');
}

body {
  background-image: var(--background-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
