
/* styles.css */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
  }

.form {
    width: 50%; 
    padding: 20px;
    background: #1E1E1E;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-button {
    width: 100%; 
    margin-top: 10px;
  }
  .button-group {
    display: flex;
    justify-content: center ; 
    gap: 10px; 
  }



  .form-group {
    margin-bottom: 15px;
  }
  
.form-title {
    color: #bda061;
    margin-bottom: 20px;
}

.form-input {
    display: block;
    background-color: #333; 
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #1E1E1E;
    width: calc(100% - 20px); 
}

.input-label {
    color: #ECE9DF; 
    margin-bottom: 5px;
}
.select-label {
  color: #ECE9DF; 
  margin-bottom: 5px;
}

.input-field {
    color: #ECE9DF; 
}

  .btn-register {
    background-color: #95660E;
    color: #231B16;
    margin-top: 10px; 
  }
  .btn-login {
    background-color: #E09915; 
    color: #231B16;
  }

.custom-text-color {
    color: #ECE9DF; 
  }
  
  .custom-link-color {
    color: #E09915; 
  }
  